/*reset*/
body {
    margin: unset;
    padding: unset;
    background-color: #dddddd;
}

h1,
p {
    margin: unset;
    padding: unset;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial;
}

/*reset*/

.wrapper {
    width: 300px;
    height: 345px;
    margin: 400px auto;
    border-radius: 5%;

    text-align: center;

}

/*main*/
.main {
    background-color: #ffffff;
    height: 285px;

    border-radius: 10px 10px 0 0;
    padding: 20px;
    box-sizing: border-box;
}

.pikachu {
    margin-top: -222px;
}

.pikachu-text {
    color: #F2AA36;
    font-size: 36px;
    font-weight: bold;
    margin-top: 18px;


}

.pikachu-text::after {
    content: '';
    display: block;
    width: 77px;
    height: 4px;
    border-radius: 6px;
    background-color: #F2AA36;

    margin: 0 auto;

}

.pikachu-info {
    color: #888888;
    margin-top: 24px;
}

.pikachu-info::before {
    content: 'Pikachu';
    color: #F2AA36;
    font-weight: bold;
}

/*main*/

/*footer*/
.footer {
    background-color: #eeeeee;
    height: 60px;

    border-radius: 0 0 10px 10px;
    display: flex;
    gap:4px;
    align-items: center;
    justify-content: center;
}

.sns-logo-wrapper{
    width: 30px; 
    height: 30px;
    overflow: hidden;
    position: relative;
}
.sns-logo.icon-t{
    position: absolute;
    top: 0px;
    left: 0px;
}
.sns-logo.icon-f{
    position: absolute;
    top: 0;
    left:-30px;
}
.sns-logo.icon-p{
    position: absolute;
    top: 0;
    left:-60px;
}
/*footer*/